In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [101]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=1' , headers=headers).text

In [102]:
soup = BeautifulSoup(webpage , 'lxml')

In [ ]:
soup.pretiffy

In [ ]:
soup.pretiffy

In [ ]:
for i in soup.find_all('h2')[1:]:
    print (i.text.strip())

In [ ]:
soup.find_all('div', class_='rating_text rating_text--md')

In [ ]:
for i in soup.find_all('span', class_='companyCardWrapper__ActionCount'):
    print(i.text.strip())

In [ ]:

company =  soup.find_all('div' , class_='companyCardWrapper')

In [ ]:
cname = []
reviews = []
rating = []
jobs = []
for i in company:
    cname.append(i.find('h2' , class_='companyCardWrapper__companyName').text.strip())
    reviews.append(i.find('span' , class_='companyCardWrapper__companyRatingCount').text.strip())
    rating.append(i.find('div' , class_='rating_text rating_text--md').text.strip())
    jobs.append(i.find_all('span' , class_='companyCardWrapper__ActionCount')[3].text.strip())

In [ ]:
company[0].find_all('span' , class_='companyCardWrapper__ActionCount')[3].text.strip()

In [ ]:
d = {'name' : cname , 'reviews' : reviews , 'ratings' : rating , 'jobs' : jobs}

In [ ]:
df = pd.DataFrame(d)

In [ ]:
df

In [ ]:
df.shape

In [103]:
final = pd.DataFrame()
for j in range(1,11):
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage = requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={}'.format(j) , headers=headers).text
    soup = BeautifulSoup(webpage , 'lxml')
    company =  soup.find_all('div' , class_='companyCardWrapper')

    cname = []
    reviews = []
    rating = []
    jobs = []
    for i in company:
        cname.append(i.find('h2' , class_='companyCardWrapper__companyName').text.strip())
        reviews.append(i.find('span' , class_='companyCardWrapper__companyRatingCount').text.strip())
        rating.append(i.find('div' , class_='rating_text rating_text--md').text.strip())
        jobs.append(i.find_all('span' , class_='companyCardWrapper__ActionCount')[3].text.strip())

    d = {'name' : cname , 'reviews' : reviews , 'ratings' : rating , 'jobs' : jobs}
    df = pd.DataFrame(d)
    final = pd.concat([final, df], ignore_index=True)

In [104]:
final

                    name  reviews ratings   jobs
0                    TCS   (1.1L)     3.4    996
1              Accenture  (68.4k)     3.7  26.9k
2                  Wipro  (61.2k)     3.7   4.4k
3              Cognizant  (58.1k)     3.7    691
4              Capgemini  (49.8k)     3.7   1.7k
..                   ...      ...     ...    ...
195  Pidilite Industries   (3.7k)     4.2      4
196     Publicis Sapient   (3.7k)     3.4    233
197               Subros   (3.7k)     3.8      1
198     American Express   (3.7k)     4.1    235
199              Viatris   (3.6k)     4.1      2

[200 rows x 4 columns]